/* GLOBAL CONFIGS */

/* define variables */
:root{
    --gray-light:#F5F5F5;
    --pink:#FF3D9A;
    --pink-hover:#d0347f;
    --white-placeholder: #ffffff80;
    --white-text: #ffffffcc;
    --white: #FFF;
    --white-inactive:#4B4C52;
    --black: #1E1F27;
    --gray-dark: #37383F;
    --yellow:#F8DB46;
    --purple:#5758F1;
    --purple-light:#937AFF;
    --blue-light:#3F96FC;
}

/* reset navigator styles*/
*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* config for body tag */
body{
    background: var(--gray-light);
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
}

/* config for buttons */
button{
    border: 0;
    border-radius: 2rem;
    padding: 0.7rem 1.7rem;
    
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size: 1rem;

    display: flex;
    align-items: center;
    gap:.6rem;

    cursor: pointer;
}

button.donate-button{
    color: var(--white);
    background-color: var(--pink);
}
button.donate-button:hover{
    background-color: var(--pink-hover);
    transition: background-color 0.4s;
}
button.adopt-button{
    background-color: transparent;
    color:var(--black);

    border: 3px solid var(--black);
}
button.adopt-inverse-button{
    background-color: transparent;
    color:var(--white);

    border: 3px solid var(--white);
    padding:1.12rem 2rem;
    font-size: 1.25rem;
}
button.adopt-alternative-button{
    max-width: 14rem;
    padding: 1rem 2rem;
    font-size: 1.25rem;

    justify-content: center;

    background-color: var(--black);
    color: var(--white);
}
button.adoptables-button{
    background-color: var(--yellow);
    color: var(--black);
    padding:1.12rem 2rem;
    font-size: 1.25rem;
}
button.subscribe-button{
    font-size: 1.25rem;
    padding: 1rem 1.7rem;
    color: var(--black);
}
button.back-button{
    background-color: var(--gray-dark);
    color: var(--white);

    width: fit-content;
    padding:1rem 2rem;

    font-size: 1.25rem;
}
button.see-more{
    color: var(--white);
    background-color: var(--pink);

    padding:1.125rem 3.5rem;
}
button.help-button{
    color: var(--white);
    background-color: var(--pink);
    font-size: 1.25rem;

    padding:1rem 2rem;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    border: 3px solid var(--white);
}
.card header{
    display: flex;
    align-items: center;
}
.card header h4{
    color: var(--white);
}
.card p{
    color: var(--white-text);

    font-family: 'Inter',sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
}

dialog{
    width: 30rem;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    padding:2rem;

    border:0;
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:3rem;
}
dialog::backdrop{
    background: #000000bf;
}
dialog h2{
    font-size: 3rem;
    color:var(--black);
    text-align: center;
    line-height: 3.6rem;
    letter-spacing: -2%;
}
dialog form{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}
dialog form .form-group{
    display: flex;
    flex-direction: column;
}
dialog form .form-group label{
    font-size: 0.75rem;
    color:var(--pink);
    font-weight: 700;
}
dialog form .form-group label.required::after{
    content:" *";
    color: var(--blue-light);
}
dialog form .form-group input{
    border:2px solid  var(--purple-light);
    border-radius: 0.5rem;

    width: 26rem;
    padding:1rem;

    font-family: "Poppins",sans-serif;
    font-weight: 500;
    color: var(--black);
}
dialog form .button-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1.5rem;
}

/* CAROUSEL */
.carousel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.75rem;
}
.carousel-container .carousel-row{
    display: flex;
    align-items: center;
    gap:2rem;
}
.carousel-container .carousel-row .control-button{
    width: 2.75rem;
    height: 2.75rem;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0;
}
.carousel-container .carousel-row .carousel{
    width: 70rem;
    overflow-x: hidden;

    display: flex;
    flex-flow: row nowrap;
    gap:2rem;
}
.carousel-container .carousel-row .dots{
    display: flex;
    align-items: center;
    gap:1rem;
}
.carousel-container .carousel-row .dots .dot{
    width: 1rem;
    height: 1rem;
    background-color: var(--white-inactive);
    border-radius: 50%;
}
.carousel-container .carousel-row .dots .dot.active{
    width: 1rem;
    height: 1rem;
    background-color: var(--white);
    border-radius: 50%;
}

/* Disabled carousel */
.carousel-container.donation .carousel-row .control-button{
    display: none;
}
.carousel-container.donation .carousel-row .carousel{
    width: inherit;    
    flex-flow: row wrap;
    justify-content: center;

    gap:3.75rem 2.5rem;
}
.carousel-container.donation .carousel-row .dots{
    display: none;
}

/* NAV */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: 'Inter', sans-serif;
    padding:1.5rem 7.25rem;
    color:var(--black);
}
.navbar .left-options,.navbar .right-options{
    display: flex;
    align-items: center;
    gap:1rem;
}
.navbar .right-options{
    gap:2rem;
}
.navbar ul{
    display: flex;
    list-style-type: none;
    font-weight: 700;
    align-items: center;
    gap:1rem;
}
.navbar .right-options .phone{
    display: flex;
    align-items: center;
    gap: 0.75rem;

    font-weight: 700;
}
.navbar .right-options .phone{
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

/* MAIN */
.divider{
    border: 1px solid black;
    margin:0 7.25rem;
}
.main{
    display: grid;
    grid-template-areas: "info image"
                         "cta  image";
    gap: 0 2rem;
    margin:5.11rem 7.25rem;
}
.main .info{
    grid-area: info;
}
.main .info p{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 2.4rem;
    font-size: 1.57rem;

    color: var(--gray-dark);
}
.main .cta-block{
    grid-area: cta;
}
.main .cta-block h3{
    font-size: 2rem;
    color:var(--black);
    margin-bottom: 1.8rem;
}
.main .cta-block .button-group{
    display: flex;
    align-items: center;
    gap:2rem;
}
.main .main-figure-full-size{
    grid-area: image;
}
.main .main-figure-full-size img{
    width: 32.45rem;
    height: 38.5rem;
}
.main h1{
    font-weight: 700;
    font-size: 4rem;

    color:var(--black);
    line-height: 4.8rem;

    margin-bottom:2rem;
}
figure.main-figure-mobile{
    display: none;
}

/* STATS */

.stats, .donations,.difference{
    background-color: var(--black);
    padding: 5rem 7.25rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
.stats h2, .donations h2, .difference h2{
    text-align: center;
    font-size: 3.5rem;
    line-height: 4.2rem;

    color: var(--white);

    padding:0 10rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
.stats #stats-line{
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap:4rem;
}
.stats .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stats .stat p:first-child{
    color:var(--yellow);

    font-size: 4rem;
    font-weight: 700;
}
.stats .stat p+p{
    color:var(--white);

    font-size: 2rem;
    font-weight: 700;
}

/* DONATIONS */
.carousel-container.donation .card{
    gap: 1.5rem;

    width:23.5rem;
    padding: 3rem 2.5rem 2rem 2.5rem; 
    border-radius: 2rem;
}
.carousel-container.donation .card header{
    justify-content: space-between;
}

.carousel-container.donation .card header h4{
    font-size: 2rem;
}

/* ADOPTION INFO */

.adopt_info{
    padding: 5rem 7.25rem;

    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.adopt_info h2{
    flex-basis: 100%;
    text-align: center;

    font-size: 3.5rem;
    color: var(--black);
    line-height: 4.2rem;
}
.adopt_info img,.adopt_info .content{
    flex:1;
}
.adopt_info .content{
    display: flex;
    flex-direction: column;
    gap:1.25rem;
}
.adopt_info .content h4{
    font-size: 2rem;
    color: var(--black);
}
.adopt_info .content ul li{
    font-family: "Inter",sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.4rem;

    color: var(--gray-dark);
    margin: 1.4rem 0;
}

/* DIFFERENCE */
.difference header{
    display: flex;
    justify-content: center;
    align-items: center;

    gap:5rem;
}
.difference header img:last-child{
    transform: scaleX(-1);
}
.difference h2{
    width: 39rem;
    padding: 0;
}
.difference .cards-row{
    display: flex;
    align-items: center;
    gap:2.5rem;
}
.difference .cards-row .card{
    gap: 1rem;

    width:17.5rem;
    padding: 3rem 1.5rem; 
    border-radius: 1.5rem;


    text-align: center;
}

.difference .cards-row .card h4{
    font-size: 1.5rem;
}

.difference .cards-row .card button{
    justify-content: center;
    border-radius: 1rem;
    padding:1rem 1.4rem;
    margin-top:2rem;
    font-size:1.25rem;
}

/* ADOPT */
.adopt{
    background-color: var(--black);

    padding: 5rem 7.25rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.7rem;

    position:relative;
}
.adopt img{
    position: absolute;
    bottom:0;
}
.adopt img.left{
    left:4.12rem;
}
.adopt img.right{
    right:4.12rem;
}
.adopt h2{
    font-size: 3.5rem;
    color: var(--white);
}
.adopt h2 mark{
    background-color: transparent;
    color:var(--yellow)
}
.adopt .cta-adopt{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2.5rem;

}
.adopt .cta-adopt h3{
    font-size: 2rem;
    color: var(--white);
}
.adopt .cta-adopt .button-group{
    display: flex;
    gap:1.5rem;
}

/* NEWSLETTER */
.newsletter{
    background-color: var(--purple);

    padding: 5rem 7.25rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}
.newsletter h2{
    font-size: 3.5rem;
    color: var(--white);
}
.newsletter p{
    font-size: 1.25rem;
    color: var(--white);

    max-width: 61%;
    text-align: center;
}
.newsletter form{
    display: flex;
    align-items: center;
    gap:1.5rem;

    margin-top: 3.5rem;
}
.newsletter form input{
    width: 24.7rem;

    background-color: transparent;
    color:var(--white);

    border: 3px solid var(--white);
    border-radius: 2rem;

    padding: 1rem 1.5rem;

    font-family: 'Poppins',sans-serif;
    font-size: 1.25rem;
    line-height: 2rem;
}
.newsletter form input::placeholder{
    color:var(--white-placeholder);
}

/* FOOTER */
footer{
    margin:5.11rem 7.25rem;
    
    display: flex;
    flex-direction: column;
    gap:3.75rem;
}
footer section{
    display: flex;
    gap:2.5rem;
}
footer section ul,footer section address{
    list-style-type: none;
    font-style: normal;

    display: flex;
    flex-direction: column;
    gap:1rem;

    width: 17rem;
}
footer section ul li,footer section address .address-row p{
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 2rem;

    color: var(--black);
}

footer section address .address-row{
    display: flex;
    align-items: center;
    gap:0.72rem;
}
footer section address .address-row:first-child{
    align-items: baseline;
}
footer section address .address-row .address-column{
    display: flex;
    flex-direction: column;
}
footer .slogan{
    text-align: center;

    color: var(--black);
}
footer .slogan mark{
    background-color: transparent;
    color: var(--pink);
}
footer .divider{
    margin:0;
}

/* ADOPTABLE PETS */
.pets{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5rem;

    background-color: var(--black);

    padding:6rem 7.25rem;
}
.pets h2{
    font-size: 3.5rem;
    color: var(--white);
}
.pets .animals-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap:3.75rem;
}
.pets .animals-grid .animal{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap:0.75rem;

}
.pets .animals-grid h3{
    font-size: 2rem;
    color: var(--white);
}

/* SUCESS */
.success{
    display: flex;
    flex-direction: column;
    gap:3rem;

    padding:6rem 7.25rem;
}

.success h2{
    font-size: 3.5rem;
    color: var(--gray-dark);
}