/* GLOBAL CONFIGS */

/* define variables */
:root{
    --gray-light:#F5F5F5;
    --pink:#FF3D9A;
    --pink-hover:#d0347f;
    --white-placeholder: #ffffff80;
    --white-text: #ffffffcc;
    --white: #FFF;
    --white-inactive:#4B4C52;
    --black: #1E1F27;
    --gray-dark: #37383F;
    --yellow:#F8DB46;
    --purple:#5758F1;
    --purple-light:#937AFF;
    --blue-light:#3F96FC;
    --green:#04C27F;
}

/* reset navigator styles*/
*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* config for body tag */
body{
    background: var(--gray-light);
    font-family: 'Poppins',sans-serif;
}

/* config for buttons */
button{
    border: 0;
    border-radius: 2rem;
    padding: 0.7rem 1.7rem;
    
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size: 1rem;

    display: flex;
    align-items: center;
    gap:.6rem;

    cursor: pointer;
    height: 4rem;
}

button.donate-button{
    color: var(--white);
    background-color: var(--pink);

    padding:1rem 2rem;
}
button.donate-button img{
    width: 2rem;
}
button.adopt-button{
    background-color: transparent;
    color:var(--black);

    border: 0.1875rem solid var(--black);
}
button.adopt-button img{
    width: 2rem;
}
button.adopt-inverse-button{
    background-color: transparent;
    color:var(--white);

    border: 3px solid var(--white);
    padding:1.12rem 2rem;
    font-size: 1.25rem;

    justify-content: center;
}
button.adopt-alternative-button{
    max-width: 14rem;
    padding: 1rem 2rem;
    font-size: 1.25rem;

    justify-content: center;

    background-color: var(--black);
    color: var(--white);
}
button.adoptables-button{
    background-color: var(--yellow);
    color: var(--black);
    padding:1.12rem 2rem;
    font-size: 1.25rem;
}
button.subscribe-button{
    font-size: 1.25rem;
    padding: 1rem 1.7rem;

    background-color: var(--white);
    color: var(--black);
}
button.back-button{
    background-color: var(--gray-dark);
    color: var(--white);

    width: fit-content;
    padding:1rem 2rem;

    font-size: 1.25rem;
}
button.see-more{
    color: var(--white);
    background-color: var(--pink);

    padding:1.125rem 3.5rem;
}
button.help-button{
    color: var(--white);
    background-color: var(--pink);
    font-size: 1.25rem;

    padding:1rem 2rem;
}
button.adopt-alt-button{
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;

    background-color: var(--green);
    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;
}
button.back-alt-button{
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;

    background-color: var(--gray-dark);
    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    border: 3px solid var(--white);
}
.card header{
    display: flex;
    align-items: center;
}
.card header h4{
    color: var(--white);
}
.card p{
    color: var(--white-text);

    font-family: 'Inter',sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
}

dialog{
    width: 30rem;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    padding:2rem;

    border:0;
    border-radius: 2rem;
}
dialog::backdrop{
    background: #000000bf;
}
dialog header{
    margin-bottom: 3rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
dialog h2{
    font-size: 3rem;
    color:var(--black);
    line-height: 3.6rem;
    letter-spacing: -2%;
}
dialog form{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}
dialog form .form-group{
    display: flex;
    flex-direction: column;
}
dialog form .form-group>label{
    font-size: 0.75rem;
    color:var(--pink);
    font-weight: 700;
}
dialog form .form-group label.required::after{
    content:" *";
    color: var(--blue-light);
}
dialog form .form-group input[type=text],
dialog form .form-group input[type=email],
dialog form .form-group input[type=number],
dialog form .form-group select
{
    border:2px solid  var(--blue-light);
    border-radius: 0.5rem;

    padding:1rem;

    font-family: "Poppins",sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: var(--black);
}
dialog form .form-group input:focus,dialog form .form-group input:focus-visible{
    outline: none;
    border-color: var(--purple-light);
}
dialog form .form-group input[type=number]::-webkit-outer-spin-button,
dialog form .form-group input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

dialog form .form-group input[type=radio]{
    display: none;
}
dialog form .form-group .payment-row .custom-radio{
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--gray-dark);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
dialog form .form-group .payment-row{
    display: flex;
    align-items: center;
    gap:1rem;
}
dialog form .form-group .payment-row label{
    display: flex;
    align-items: center;


    border:2px solid  var(--blue-light);
    border-radius: 0.5rem;
    padding:1rem;

    cursor: pointer;
}
input[type=radio]:checked+ label{
    background-color: var(--blue-light);
    color: var(--white);
}
input[type=radio]:checked+ label .custom-radio{
    background-color: var(--pink);
}
input[type=radio]:checked+ label .custom-radio:after{
    content: url('./assets/checkmark.svg');
}
dialog form .form-group .payment-row label p{
    width: 4.3rem;
}
dialog form .button-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1.5rem;
}
dialog form .form-group .date-row{
    display: flex;
    justify-content: space-between;
    gap:0.5rem;
}
dialog form .form-group .date-row select{
    flex:1;
}
dialog form .check-row label{
    font-family: 'Poppins',sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
    color: var(--black);

    display: flex;
    align-items: center;
}
dialog form .check-row label mark{
    background-color: transparent;
    color:var(--pink);
    margin:0 0.2rem;
}
dialog form .check-row input[type=checkbox]{
    display: none;
}
dialog form .check-row .custom-checkbox{
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--gray-dark);
    border-radius: 50%;

    margin-inline-end: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
}
dialog form .check-row input[type=checkbox]:checked + label .custom-checkbox{
    background-color: var(--pink);
    color: var(--white);
}
dialog form .check-row input[type=checkbox]:checked + label .custom-checkbox::after{
    content: url('./assets/checkmark.svg');
}
dialog#adopt-modal form .button-group{
    gap:0.75rem;
}

/* dialog form .check-row input[type=checkbox] */


/* CAROUSEL */
.carousel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.75rem;
}
.carousel-container .carousel-row{
    display: flex;
    align-items: center;
    gap:2rem;
}
.carousel-container .carousel-row .control-button{
    width: 2.75rem;
    height: 2.75rem;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0;
}
.carousel-container .carousel-row .carousel{
    width: 70rem;
    overflow-x: hidden;

    display: flex;
    flex-flow: row nowrap;
    column-gap:2rem;
}
.carousel-container .carousel-row .dots{
    display: flex;
    align-items: center;
    gap:1rem;
}
.carousel-container .carousel-row .dots .dot{
    width: 1rem;
    height: 1rem;
    background-color: var(--white-inactive);
    border-radius: 50%;
}
.carousel-container .carousel-row .dots .dot.active{
    width: 1rem;
    height: 1rem;
    background-color: var(--white);
    border-radius: 50%;
}

/* Disabled carousel */
.carousel-container.donation .carousel-row .control-button{
    display: none;
}
.carousel-container.donation .carousel-row .carousel{
    width: inherit;    
    flex-flow: row wrap;
    justify-content: center;
    row-gap:3.7rem;
    column-gap:2.5rem;
}
.carousel-container.donation .carousel-row .dots{
    display: none;
}

/* NAV */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    color:var(--black);

    width: 90%;
    max-width: 1208px;
    margin: 0 auto;

    padding:1.5rem 0;
    gap:0.75rem 0;
}
.navbar .left-options,.navbar .right-options{
    display: flex;
    align-items: center;
    gap:1rem;
}
.navbar .right-options{
    gap:2rem;
}
.navbar ul{
    display: flex;
    list-style-type: none;
    font-weight: 700;
    align-items: center;
    flex-wrap: wrap;
    gap:1rem;
}
.navbar .right-options .phone{
    display: flex;
    align-items: center;
    gap: 0.75rem;

    font-weight: 700;
}
.navbar .right-options .phone img{
    width: 1.5rem;
}

/* MAIN */
.divider{
    border: 1px solid black;
    width: 90%;
    margin:0 auto;
    max-width: 1208px;
}
.main{
    display: grid;
    grid-template-areas: "info image"
                         "cta  image";
    gap: 0 2rem;

    width: 90%;
    max-width: 1208px;
    margin:5.11rem auto;
}
.main .info{
    grid-area: info;
}
.main .info p{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 2.4rem;
    font-size: 1.57rem;

    color: var(--gray-dark);
}
.main .cta-block{
    grid-area: cta;
}
.main .cta-block h3{
    font-size: 2rem;
    color:var(--black);
    margin-bottom: 1.8rem;
}
.main .cta-block .button-group{
    display: flex;
    align-items: center;
    gap:2rem;
}
.main .main-figure-full-size{
    grid-area: image;
}
.main .main-figure-full-size img{
    width: 32.45rem;
    height: 38.5rem;
}
.main h1{
    font-weight: 700;
    font-size: 4rem;

    color:var(--black);
    line-height: 4.8rem;

    margin-bottom:2rem;
}
figure.main-figure-mobile{
    display: none;
}

/* STATS */

.stats, .donations,.difference{
    background-color: var(--black);
    padding: 5rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
.stats h2, .donations h2
 /* .difference h2 */
 {
    text-align: center;
    font-size: 3.5rem;
    line-height: 4.2rem;

    color: var(--white);

    padding:0 10rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
.stats #stats-line{
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap:4rem;
}
.stats .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stats .stat p:first-child{
    color:var(--yellow);

    font-size: 4rem;
    font-weight: 700;
}
.stats .stat p+p{
    color:var(--white);

    font-size: 2rem;
    font-weight: 700;
}

/* DONATIONS */
.carousel-container.donation .card{
    gap: 1.5rem;

    width:23.5rem;
    padding: 3rem 2.5rem 2rem 2.5rem; 
    border-radius: 2rem;
}
.carousel-container.donation .card header{
    justify-content: space-between;
}

.carousel-container.donation .card header h4{
    font-size: 2rem;
}

/* ADOPTION INFO */

.adopt-info{
    width: 90%;
    margin: 5rem auto;

    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.adopt-info h2{
    flex-basis: 100%;
    text-align: center;

    font-size: 3.5rem;
    color: var(--black);
    line-height: 4.2rem;
}
.adopt-info img,.adopt-info .content{
    flex:1;
}
.adopt-info .content{
    display: flex;
    flex-direction: column;
    gap:1.25rem;
}
.adopt-info .content h4{
    font-size: 2rem;
    color: var(--black);
}
.adopt-info .content ul li{
    font-family: "Inter",sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.4rem;

    color: var(--gray-dark);
    margin: 1.4rem 0;
}

/* DIFFERENCE */
.difference header{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    /* gap:5rem; */
}
.difference header h2{
    text-align: center;
    font-size: 3.5rem;
    line-height: 4.2rem;

    color: var(--white);
    padding:0 15rem;
}
.difference header img.left{
    position: absolute;
    left:10rem;
}
.difference header img.right{
    position: absolute;
    right:10rem;
}
.difference header img:last-child{
    transform: scaleX(-1);
}
.difference .cards-row{
    display: flex;
    align-items: center;
    gap:2.5rem;
}
.difference .cards-row .card{
    gap: 1rem;

    width:17.5rem;
    padding: 3rem 1.5rem; 
    border-radius: 1.5rem;


    text-align: center;
}

.difference .cards-row .card h4{
    font-size: 1.5rem;
}

.difference .cards-row .card button{
    justify-content: center;
    border-radius: 1rem;
    padding:1rem 1.4rem;
    margin-top:2rem;
    font-size:1.25rem;
}

/* ADOPT */
.adopt{
    background-color: var(--black);

    padding: 5rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.7rem;

    position:relative;

    overflow: hidden;
}
.adopt img{
    position: absolute;
    bottom:0;
}
.adopt img.left{
    left:-1rem;
}
.adopt img.right{
    right:-1rem;
}
.adopt h2{
    font-size: 3.5rem;
    color: var(--white);
}
.adopt h2 mark{
    background-color: transparent;
    color:var(--yellow)
}
.adopt .cta-adopt{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2.5rem;

}
.adopt .cta-adopt h3{
    font-size: 2rem;
    color: var(--white);
}
.adopt .cta-adopt .button-group{
    display: flex;
    gap:1.5rem;
}

/* NEWSLETTER */
.newsletter{
    background-color: var(--purple);

    padding: 5rem 7.25rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}
.newsletter h2{
    font-size: 3.5rem;
    color: var(--white);
    text-align: center;
}
.newsletter p{
    font-size: 1.25rem;
    line-height: 2rem;
    color: var(--white);

    max-width: 61%;
    text-align: center;
}
.newsletter form{
    display: flex;
    align-items: center;
    gap:1.5rem;

    margin-top: 3.5rem;
}
.newsletter form input{
    width: 24.7rem;

    background-color: transparent;
    color:var(--white);

    border: 3px solid var(--white);
    border-radius: 2rem;

    padding: 1rem 1.5rem;

    font-family: 'Poppins',sans-serif;
    font-size: 1.25rem;
    line-height: 2rem;
}
.newsletter form input::placeholder{
    color:var(--white-placeholder);
}
.newsletter .error-message{
    display: none;
    
    color: var(--white);

    font-family: 'Poppins',sans-serif;
    font-size: 1.25rem;
    line-height: 2rem;
}

/* FOOTER */
footer{
    width: 90%;
    max-width: 1208px;
    margin:5.11rem auto;
    
    display: flex;
    flex-direction: column;
    gap:3.75rem;
}
footer section{
    display: flex;
    gap:2.5rem;
    flex-wrap: wrap;
}
footer section ul,footer section address{
    list-style-type: none;
    font-style: normal;

    display: flex;
    flex-direction: column;
    gap:1rem;

    width: 17rem;
}
footer section ul li,footer section address .address-row p{
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 2rem;

    color: var(--black);
}

footer section address .address-row{
    display: flex;
    align-items: center;
    gap:1.5rem;
}
footer section address .address-row:first-child{
    align-items: baseline;
}
footer section address .address-row .address-column{
    display: flex;
    flex-direction: column;
}
footer .slogan{
    text-align: center;

    color: var(--black);
}
footer .slogan h2{
    font-size: 1.9rem;
}

footer .slogan mark{
    background-color: transparent;
    color: var(--pink);
}
footer .divider{
    margin:0;
    width: 100%;
    margin:0 auto;
}

/* ADOPTABLE PETS */
.pets{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5rem;

    background-color: var(--black);

    padding:6rem 7.25rem;
}
.pets h2{
    font-size: 3.5rem;
    color: var(--white);
}
.pets .animals-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap:3.75rem;
}
.pets .animals-grid .animal{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap:0.75rem;

}
.pets .animals-grid h3{
    font-size: 2rem;
    color: var(--white);
}

/* SUCESS */
.success{
    max-width: 80%;
    margin:6rem auto;

    display: flex;
    justify-content: space-between;
}
.success .content{
    display: flex;
    flex-direction: column;
    gap:3rem;
}

.success h2{
    font-size: 3.5rem;
    color: var(--pink);
}
.success p{
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    color:var(--gray-dark);
    font-size: 1.3rem;

    max-width: 40rem;
}
.success aside{
    width: 30rem;
    display: flex;
    flex-direction: column;

    padding:0 3rem;
}
.success aside img{
    width: 10rem;
    opacity: 0;
}
.success aside .paw1{
    transform: rotate(-45deg);
    animation-name: paws;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.success aside .paw2{
    transform: rotate(45deg);
    align-self: end;
    animation-name: paws;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.success aside .paw3{
    transform: rotate(-45deg);
    animation-name: paws;
    animation-delay: 4s;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes paws {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media only screen and (min-width: 2500px) {
    :root{
        font-size: 16px;
    }
    .adopt-info img, .adopt-info{
        justify-content: center;
        gap:2.5rem;
    }
    .adopt-info img, .adopt-info .content{
        flex:none;
    }
    .carousel-container.donation .carousel-row .carousel{
        width: 75.5rem;
    }
    .adopt img.left{
        left: 33rem;
    }
    .adopt img.right{
        right: 33rem;
    }
    .newsletter p{
        max-width: 30%;
    }
}
@media only screen and (max-width: 1024px) {
    :root{
        font-size: 12px;
    }
    .adopt-info img, .adopt-info .content{
        width: 50%;
    }
    .adopt img{
        height: 100%;
    }
    footer section ul, footer section address{
        width: initial;
    }
    footer section figure img{
        width: 80%;
    }
}
@media only screen and (max-width: 768px) {
    :root{
        font-size: 9.3px;
    }
    .carousel-container .carousel-row .carousel{
        width: 56rem;
    }
    .adopt img{
        height: 85%;
    }
    footer section{
        gap:1.2rem;
    }
    footer section figure img{
        width: 65%;
    }
}
/* mobile */
@media only screen and (max-width: 600px) {
    :root{
        font-size: 16px;
    }
    .navbar{
        flex-direction: column;
    }
    .navbar .left-options{
        flex-direction: column;
    }
    .navbar ul{
        justify-content: center;
    }
    .main{
        grid-template-areas: "info"
                             "image"
                             "cta";
        justify-items: center;
        gap:2rem 0;
    }
    .main .info h1{
        font-size: 3rem;
        line-height: 3.6rem;
    }
    .main .main-figure-full-size{
        display: none;
    }
    .main .main-figure-mobile{
        display: block;
        grid-area: image;
    }
    .main .cta-block{
        text-align: center;
    }
    .main .cta-block .button-group{
        flex-direction: column;
        gap:1rem;
    }

    .stats h2,.donations h2{
        font-size: 3rem;
        padding:0;
    }
    .stats #stats-line{
        flex-direction: column;
    }
    .carousel-container .carousel-row{
        gap:0.7rem;
    }
    .carousel-container .carousel-row .carousel{
        width: 16rem;
    }
    .carousel-container.donation .carousel-row .control-button{
        display: flex;
    }
    .carousel-container.donation .carousel-row .dots{
        display: flex;
    }
    .carousel-container.donation .carousel-row .carousel{
        width: 17.5rem;
        flex-flow: row nowrap;
        justify-content: initial;
    }
    .carousel-container.donation .card{
        gap: 1.5rem;
    
        min-width:17.5rem;
    }
    .card header{
        gap:1rem;
    }
    .card header h4{
        font-size: 2rem;
    }

    .adopt-info img{
        order:3;
        width: 100%;
    }
    .adopt-info ul{
        margin-inline-start: 1.5rem;
    }
    .difference header h2{
        font-size: 3rem;
        padding:0;
    }
    .difference header img.left{
        left:1.5rem;
    }
    .difference header img.right{
        right:1.5rem;
    }
    .difference .cards-row{
        flex-direction: column;
    }
    .adopt {
        text-align: center;
        padding:5rem 0 7.5rem 0;
    }
    .adopt h2{
        text-align: center;
        font-size: 3rem;
    }
    .adopt .cta-adopt .button-group{
        flex-direction: column;
    }
    .adopt img{
        height: 16.5rem;
    }
    .adopt img.left{
        left:-5.6rem;
    }
    .adopt img.right{
        right:-6.5rem;
    }

    .newsletter{
        padding:5rem 2.25rem;
    }

    .newsletter h2{
        line-height: 4.2rem;
    }
    .newsletter p{
        max-width: inherit;
    }
    .newsletter form{
        flex-direction: column;
    }

    footer section{
        gap:2.5rem 0;
    }
    footer section figure{
        flex-basis: 100%;
        display: flex;
        justify-content: end;
    }
    footer section ul{
        flex:0.5;
    }
    footer section address{
        flex:1;
    }
    footer section address .address-row.center{
        justify-content: center;
    }
    footer .slogan mark{
        display: block;
    }

    dialog#adopt-modal{
        padding:2rem 1.43rem;
    }
    dialog#donate-modal{
        padding:2rem 1.43rem;
    }
    dialog h2{
        gap:0;
    }
    dialog h2{
        font-size: 2.6rem;
    }
    dialog form .check-row label mark{
        margin:0 0.1rem;
    }
    dialog form .form-group .payment-row label{
        padding:0.8rem
    }
    dialog form .form-group .payment-row label p{
        width: 3rem;
        font-size: 14px;
    }
    .success{
        flex-direction: column;
        gap:5rem;
    }
}
